.el-select-dropdown.is-multiple
  .el-select-dropdown__item.selected
  .checkbox__inner {
  background-color: #1890ff;
  border-color: #1890ff;
  box-sizing: content-box;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 14px;
}
.el-select-dropdown.is-multiple
  .el-select-dropdown__item.selected
  .checkbox__inner
  .inner-box {
  content: "";
  border: 1px solid #ffffff;
  border-left: 0;
  border-top: 0;
  height: 7px;
  width: 3px;
  transform: rotate(45deg) scaleY(1);
  line-height: 14px;
}
.checkbox__inner {
  margin-right: 15px;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
}
