.el-checkbox {
    width: 100px;
    margin-right: 80px;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    color: #697195;
  }
  .el-checkbox__label {
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #697195;
  }