.el-checkbox {
  width: 100px;
  margin-right: 80px;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  color: #194580;
}

.el-checkbox__label {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #194580;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.el-checkbox__inne {
  border-radius: 4px;
}

.el-checkbox__inner::after {
  left: 18px;
}
