// 气泡的距离
.el-popper {
  margin-bottom: 0px !important;
}
// table表格统一样式table-content
.table-content{
  margin: 12px;
}
.el-table thead {
  font-size: 13px !important;
  font-weight: 400;
}
.el-table .cell {
  line-height: 16px;
}

.el-table .caret-wrapper{
    height: 15px;
}
.el-table .sort-caret.descending {
  bottom: -4px;
}
.el-table .sort-caret.ascending {
    top: -3px;
}
