@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./element-ui-tracking.scss";
@import "./sidebar.scss";
@import "./btn.scss";
@import "./components/element-unifystyle.scss";
@import "./components/public-style.scss";
@import "./components/custom-color.scss";
@import "./components/element-unify-style.scss"; //filterbar统一样式

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}
.overItem {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  white-space: nowrap;
}
.block-main {
  overflow: hidden;
  box-sizing: border-box;
  padding: 25px 25px;
  background-color: #fff;
  .block-head {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 17px;
    // 首页一级标题字体设置
    .block-title {
      display: flex;
      font-weight: 600;
      font-size: 15px;
      line-height: 33px;
      color: #4d4d4d;
    }
    .block-head-icon {
      display: flex;
      box-sizing: content-box;
      margin-left: auto;
      text-align: right;
      color: #acaaaa;
      font-size: 16px;
      cursor: pointer;
      img:hover {
        content: url("../assets/images/hover-icon.png");
      }
    }
  }
}
// 首页块内表格
.block-index-form {
  .form-list-page {
    width: clas(100% -20px);
    display: flex;
    flex-direction: column;
    .header-text {
      padding-right: 10px;
      width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 30px;
      white-space: nowrap;
    }
    .form-list-header {
      display: flex;
      .header-name {
        width: 20%;
        justify-content: flex-end;
        height: 30px;
        display: flex;
        align-items: center;
      }
      .w156 {
        font-size: 14px;
        color: #768fa1;
      }
    }
    .form-list-record {
      .lettSpace {
        margin-top: 10px;
      }
      display: flex;
      .form-list-item {
        width: 20%;
        justify-content: flex-end;
        height: 30px;
        display: flex;
        align-items: center;
      }
      .w157 {
        color: #555353;
        font-size: 13px;
        line-height: 30px;
      }
      .w159 {
        color: #555353;
        font-size: 13px;
        line-height: 14px;
        color: #3a98e6;
      }
      .w158 {
        color: #555353;
        font-size: 13px;
        line-height: 30px;
        // font-weight: bold;
      }
    }
  }
}

// 流量基础指标多选checkbox统一样式
.flow-indicator {
  min-height: 58px;
  border: 1px solid #f0f0f5;
  border-radius: 6px;
  box-sizing: border-box;
  .setSpace {
    margin-top: 2px !important;
    margin-bottom: 12px;
  }
  .flow-item {
    display: flex;
    margin-top: 12px;
    margin-left: 10px;
    .flow-title {
      white-space: nowrap;
      box-sizing: border-box;
      margin-right: 21px;
      font-size: 12px;
      font-weight: 400;
      line-height: 30px;
      color: #4d4d4d;
    }
  }
  .check_item {
    background-color: #ffffff;
    margin-left: 20px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    span {
      font-size: 14px;
      padding: 0 10px;
    }
    .checkBoxStyle {
      margin-right: 10px;
    }
  }
}
