:export {
  menuText: black;
  menuActiveText: #6dc3dd;
  subMenuActiveText: black;
  menuBg: #fff;
  menuHover: linear-gradient(to right, #E1E7FB, #ffffff);
  subMenuBg: #fff;
  subMenuHover: linear-gradient(to right, #E1E7FB, #ffffff);
  sideBarWidth: 210px;
}
