name: Node.js CI

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'demo'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'
      - 'demo'
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: zcunsoft/clklog-frontend
          tags: |
            type=schedule
            type=semver,pattern={{version}}
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=raw,value=latest,enable={{is_default_branch}}
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          # TODO: Use Secrets when Public
          username: zcunsoft
          password: dckr_pat_2eAU1fw60YppPltWJ7-tVJXma9o
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            HTML_DIR=dist
      - name: Set Docker image tag
        id: set-tag
        run: echo "::set-output name=tag::$(if [ $GITHUB_REF == 'refs/heads/main' ]; then echo latest; else echo ${GITHUB_REF#refs/heads/}; fi)"
      - name: Login to Aliyun Docker Registry
        uses: docker/login-action@v2
        with:
          # TODO: Use Secrets when Public
          registry: registry.cn-shanghai.aliyuncs.com
          username: clklog.githubci@zcunsoft
          password: R7w!9F6zlqt2
      - name: Push image to Aliyun Docker Registry
        run: |
          docker buildx imagetools create \
            --tag registry.cn-shanghai.aliyuncs.com/clklog/ui:1.1.0 \
            zcunsoft/clklog-frontend:${{ steps.set-tag.outputs.tag }}
